@font-face {
  font-family: "Grifter";
  src: url("../../../fonts/GRIFTER-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Figtree";
  src: url("../../../fonts/Figtree-VariableFont_wght.ttf") format("ttf");
}

.title {
  background-color: #FFFDFC;
  height: 90vh;
  width: 100vw;
  padding-left: 8rem;
  padding-right: 8rem;
  margin-bottom: 0;
}

.image {
  position: absolute;
  top: 0px;
  right: 0px;
}

.firstNames {
  font-family: "Grifter";
  font-size: 8rem;
  color: #233B3B;
  padding-top: 16rem;
  position: relative;
}

.surname {
  font-family: "Grifter";
  font-size: 8rem;
  color: #233B3B;
  margin-top: 0;
}

.p {
  font-family: "Figtree";
  font-size: 2rem;
  color: #233B3B;
  margin-top: 0;
}